DATABASE_URL=postgresql://<username>:<password>@postgres:5432/postgres
POSTGRES_DB=app
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>

FRONTEND_URL=http://localhost:5173 #TODO: does this need to be here, who knows?